


.App {
  height: 100vh;
  width: 100vw;
  text-align: center;

  background: radial-gradient(#82d1df, #aeb3b1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* header{
  border: 2px solid red ;
  margin: calc(1em+1vw);

} */

.App-header {
  background-color: #d7d9de;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}
.review-list {
  border:2px solid gold;
  margin: calc(1em+1vw);
  display: flex;
  flex-wrap: wrap;
}

.card-container
{
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 16px;
  box-sizing: border-box;
  /* margin-top: 8px; */
  margin: 20px;
  box-shadow: rgba(92, 83, 83, 0.25) 0px 14px 28px, rgba(106, 103, 103, 0.22) 0px 10px 10px;
}

.form-container{

  justify-content: center;
  flex-wrap:wrap;
  margin-top: 20px;
}

.home-hero__cards{
  width: 300px;
}
.about-container{
  margin-left: 150px;
  margin-top: 50px;
  Margin-right:150px;
  font-size:large;
  font-family: "Times New Roman", Times, serif;
  /* background-color: red; */

}
.about-header{
  font-weight: bold; 
  
}
.about-quote{
   font-weight: bold; 
}

.cardImg{
  height: 200px;
}

.cardRow{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.mainAppContainer{
  min-height: 96vh;
}

.cardReviews{
  background-color: rgb(215, 233, 243);
  width: 400px;
  height: 550px;
}

