


.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  /* background-color: lightblue; */
  background: #82d1df;
  background: radial-gradient(#82d1df, #8de3ba);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* header{
  border: 2px solid red ;
  margin: calc(1em+1vw);

} */

.App-header {
  background-color: #e8ecf4;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}
.review-list {
  border:2px solid gold;
  margin: calc(1em+1vw);
  display: flex;
  flex-wrap: wrap;
}

.card-container
{
  /* width: 240px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 16px;
  /* margin-top: 8px; */
  margin: 20px;
}

.form-container{

  justify-content: center;
  flex-wrap:wrap;
}